.idea
/checkpoint
/AI
/local_test.py
/checkpoint.data-00000-of-00001
/checkpoint.index
/.ipynb_checkpoints/Notebook-checkpoint.ipynb
__pycache__/ClassAE.cpython-310.pyc
__pycache__/ClassAE.cpython-39.pyc
__pycache__/DataReading.cpython-310.pyc
*.pyc
/FlowCompression/Models/checkpoint.index
/FlowCompression/Models/checkpoint.data-00000-of-00001
/FlowCompression/Models/checkpoint
/FlowCompression/TuningDivision/tuning.csv
.gitignore
/Models/checkpoint.index
/Models/checkpoint.data-00000-of-00001
/Models/checkpoint
/TuningDivision/iter_1_analysis.csv
/TuningDivision/iter_1_analysis.xlsx
FlowCompression/(0, 1, 2)_plot.fig.pickle
FlowCompression/(0, 1, 3)_latent.csv
